
<!------------------------------------- DROPDOWN-------------------------------------------------------->
<div class="storybook__container-dropdown-position">
    <div class="dropdown">
      <button
        type="button"
        class="btn btn-dropdown btn-dropdown-lg btn-dropdown-border"
        data-toggle="collapse"
        data-target="#dropdownContentLeft"
        aria-controls="dropdownContentLeft"
        aria-expanded="false"
        aria-label="Toggle"
      >
        <span class="btn-dropdown-text"><span class="material-icons-round">menu</span></span>
      </button>
      <div class="dropdown-menu collapse" id="dropdownContentLeft">
        <div class="dropdown sub-dropdown">
          <button
            type="button"
            class="btn btn-dropdown btn-dropdown-lg dropdown-toggle sub-btn-dropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="item-text">Opción en cascada</span>
            <span class="material-icons-round btn-dropdown-icon">
              expand_more
            </span>
          </button>
          <div class="dropdown-menu sub-dropdown-menu">
            <a class="dropdown-item sub-item" href="#">
              <span class="item-text">Opción de navegación</span>
            </a>
            <a class="dropdown-item sub-item" href="#">
              <span class="item-text">Opción de navegación</span>
            </a>
            <a class="dropdown-item sub-item" href="#">
              <span class="item-text">Opción de navegación</span>
            </a>
          </div>
        </div>
        <a class="dropdown-item" href="#">
          <span class="item-text">Opción de navegación</span>
        </a>
        <a class="dropdown-item" href="#">
          <span class="item-text">Opción de navegación</span>
        </a>
        <a class="dropdown-item" href="#">
          <span class="item-text">Opción de navegación</span>
        </a>
        <a class="dropdown-item item-danger" href="#">
          <span class="material-icons-round">logout</span>
          <span class="item-text">Cerrar sesión</span>
        </a>
      </div>
    </div>
  </div>